.main-title {
  margin: 0;
  padding: 1rem;
  position: absolute;
  top: 0.5rem;
  width: 98%;
  box-sizing: border-box;
  display: flex;
}

.main-title .logo {
  margin-top: 0.5rem;
  height: 100px;
}