.search-form {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.search-form .submit {
  height: 3rem;
  border: 2px solid #651919;
  background: #002fb3;
  color: pink;
  border-radius: 10px;
  width: 4rem;
  box-sizing: border-box;
}

.search-field {
  transition: all 200ms;
  width: 10%;
  height: 3rem;
  border-radius: 20px;
  background: url("/search.svg") left center no-repeat #20f;
  padding-left: 2.5rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  color: pink;
}

.search-field:focus {
  outline: 1px solid #444;
}

.search-field:focus,
.search-field:hover {
  background-color: #24f;
  width: 50%;
}

.search-field::placeholder {
  color: #8884;
}
