.suggestions {
  display: none;
  position: absolute;
  width: calc(50% - 8rem - 11rem);
  margin-right: 16rem;
  margin-top: 3rem;
  background: #33fc;
  border-radius: 0 0 20px 20px;
  padding-left: 2rem;
}

.search-field:focus + .suggestions,
.suggestions:hover {
  display: block;
}

.suggestions a {
  display: block;
  padding: 1px 0;
  color: white;
  text-decoration: none;
}

.suggestions a.selected, .suggestions a:hover {
  font-weight: bold;
  padding-top: 0;
}
