.suggestions {
  display: none;
  position: absolute;
  width: calc(50% - 7rem);
  margin-top: 3rem;
  background: #33fc;
  border-radius: 0 0 20px 20px;
  padding-left: 3rem;
  pointer-events: auto;
}

.search-form:focus-within .suggestions {
  display: block;
}

.suggestions a {
  display: block;
  padding: 1px 0;
  color: white;
  text-decoration: none;
}

.suggestions a.selected, .suggestions a:hover {
  font-weight: bold;
  padding-top: 0;
}
