body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(#00f, #000);
  height: 100vh;
  margin: 0;
  color: #fff;
}

.main-title {
  text-align: center;
  margin: 0;
  text-shadow: white 0 0 10px;
}